<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Content</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
    {% for comment in comments %}
    <tr>
        <td> {{ comment.id }} </td>
        <td> {{ comment.content }} </td>
        <td> {{ comment.author.name }} </td>
    </tr>
    {% endfor %}
    </tbody>
</table>